name: Ejecutar scraping diario

on:
  schedule:
    - cron: '0 9 * * *'  # Ejecuta todos los días a las 9:00 UTC
  workflow_dispatch:     # Permite ejecución manual desde GitHub

jobs:
  run-scraping:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3  # Clona el repo

      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Ejecutar script scraping
        run: python scraping.py
